absl_py==1.4.0+computecanada
anyio==3.6.2+computecanada
appdirs @ file:///tmp/ebuser/avx2/Python/3.10.2/GCCcore-9.3.0/appdirs/appdirs-1.4.4
arff==0.9+computecanada
argon2_cffi==21.3.0+computecanada
argon2_cffi_bindings==21.2.0+computecanada
asttokens==2.2.1+computecanada
astunparse==1.6.3+computecanada
async_generator==1.10+computecanada
attrs==22.2.0+computecanada
backcall==0.2.0+computecanada
backports-abc==0.5+computecanada
backports.shutil_get_terminal_size==1.0.0+computecanada
bcrypt==4.0.1+computecanada
beautifulsoup4==4.11.2+computecanada
bitstring==4.0.1+computecanada
bleach==6.0.0+computecanada
cachetools==5.3.0+computecanada
certifi==2022.12.7+computecanada
cffi==1.15.1+computecanada
chardet==5.1.0+computecanada
charset_normalizer==3.0.1+computecanada
comm==0.1.2+computecanada
contourpy==1.0.7+computecanada
cryptography==39.0.1+computecanada
cycler==0.11.0+computecanada
Cython==0.29.33+computecanada
deap==1.3.3+computecanada
debugpy==1.6.6+computecanada
decorator==5.1.1+computecanada
defusedxml==0.7.1+computecanada
distlib @ file:///tmp/ebuser/avx2/Python/3.10.2/GCCcore-9.3.0/distlib/distlib-0.3.4
dnspython==2.3.0+computecanada
ecdsa==0.18.0+computecanada
entrypoints==0.4+computecanada
executing==1.2.0+computecanada
fastjsonschema==2.16.2+computecanada
filelock @ file:///tmp/ebuser/avx2/Python/3.10.2/GCCcore-9.3.0/filelock/filelock-3.4.2
flatbuffers==20190709135844+computecanada
flit_core @ file:///tmp/ebuser/avx2/Python/3.10.2/GCCcore-9.3.0/flitcore/flit_core-3.6.0
fonttools==4.38.0+computecanada
funcsigs==1.0.2+computecanada
gast==0.5.3+computecanada
google-pasta==0.2.0+computecanada
google_auth==2.17.3+computecanada
google_auth_oauthlib==0.4.6+computecanada
grpcio==1.51.3+computecanada
h5py==3.8.0+computecanada
idna==3.4+computecanada
importlib_metadata==5.2.0+computecanada
importlib_resources==5.12.0+computecanada
ipykernel==6.21.2+computecanada
ipython==8.10.0+computecanada
ipython_genutils==0.2.0+computecanada
ipywidgets==8.0.4+computecanada
jedi==0.18.2+computecanada
Jinja2==3.1.2+computecanada
joblib==1.2.0+computecanada
jsonschema==4.17.3+computecanada
jupyter_client==8.0.3+computecanada
jupyter_core==5.2.0+computecanada
jupyter_events==0.6.3+computecanada
jupyter_server==2.3.0+computecanada
jupyter_server_terminals==0.4.4+computecanada
jupyterlab_pygments==0.2.2+computecanada
jupyterlab_widgets==3.0.5+computecanada
keras==2.8.0+computecanada
Keras-Preprocessing==1.1.2+computecanada
kiwisolver==1.4.4+computecanada
libclang==14.0.1+computecanada
lockfile==0.12.2+computecanada
Markdown==3.4.3+computecanada
MarkupSafe==2.1.2+computecanada
matplotlib==3.7.0+computecanada
matplotlib_inline==0.1.6+computecanada
mistune==2.0.5+computecanada
mock==5.0.1+computecanada
more-itertools @ file:///tmp/ebuser/avx2/Python/3.10.2/GCCcore-9.3.0/moreitertools/more-itertools-8.12.0
mpmath==1.2.1+computecanada
nbclassic==0.5.2+computecanada
nbclient==0.7.2+computecanada
nbconvert==7.2.9+computecanada
nbformat==5.7.3+computecanada
nest_asyncio==1.5.6+computecanada
netaddr==0.8.0+computecanada
netifaces==0.11.0+computecanada
nose==1.3.7+computecanada
notebook==6.5.2+computecanada
notebook_shim==0.2.2+computecanada
numpy==1.24.2+computecanada
oauthlib==3.2.2+computecanada
opt_einsum==3.3.0+computecanada
packaging @ file:///tmp/ebuser/avx2/Python/3.10.2/GCCcore-9.3.0/packaging/packaging-21.3
pandas==1.5.3+computecanada
pandocfilters==1.5.0+computecanada
paramiko==3.0.0+computecanada
parso==0.8.3+computecanada
path==16.6.0+computecanada
path.py==12.5.0+computecanada
pathlib2==2.3.7+computecanada
paycheck==1.0.2+computecanada
pbr==5.11.1+computecanada
pexpect==4.8.0+computecanada
pickleshare==0.7.5+computecanada
Pillow==9.4.0+computecanada
pkgutil_resolve_name==1.3.10+computecanada
platformdirs @ file:///tmp/ebuser/avx2/Python/3.10.2/GCCcore-9.3.0/platformdirs/platformdirs-2.4.1
prometheus_client==0.16.0+computecanada
prompt_toolkit==3.0.37+computecanada
protobuf==4.22.2+computecanada
psutil==5.9.4+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
pyasn1==0.5.0+computecanada
pyasn1_modules==0.3.0+computecanada
pycparser==2.21+computecanada
Pygments==2.14.0+computecanada
PyNaCl==1.5.0+computecanada
pyparsing @ file:///tmp/ebuser/avx2/Python/3.10.2/GCCcore-9.3.0/pyparsing/pyparsing-3.0.7
pyrsistent==0.19.3+computecanada
python-dateutil==2.8.2+computecanada
python_json_logger==2.0.7+computecanada
pytz==2022.7.1+computecanada
PyYAML==6.0+computecanada
pyzmq==25.0.0+computecanada
requests==2.28.2+computecanada
requests_oauthlib==1.3.1+computecanada
rfc3339_validator==0.1.4+computecanada
rfc3986_validator==0.1.1+computecanada
rsa==4.9+computecanada
scikit_learn==1.2.1+computecanada
scipy==1.10.1+computecanada
seaborn==0.12.2+computecanada
Send2Trash==1.8.0+computecanada
setuptools-scm @ file:///tmp/ebuser/avx2/Python/3.10.2/GCCcore-9.3.0/setuptools_scm/setuptools_scm-6.4.2
simplegeneric==0.8.1+computecanada
singledispatch==4.0.0+computecanada
six @ file:///tmp/ebuser/avx2/Python/3.10.2/GCCcore-9.3.0/six/six-1.16.0
sklearn==0.0+computecanada
sniffio==1.3.0+computecanada
soupsieve==2.4+computecanada
stack_data==0.6.2+computecanada
sympy==1.11.1+computecanada
tensorboard==2.8.0+computecanada
tensorboard-data-server==0.6.1+computecanada
tensorboard_plugin_wit==1.8.1+computecanada
tensorflow==2.8.0+computecanada
tensorflow_io_gcs_filesystem==0.26.0+computecanada
termcolor==2.2.0+computecanada
terminado==0.17.1+computecanada
testpath==0.6.0+computecanada
tf_estimator_nightly==2.8.0.dev2021122109+computecanada
threadpoolctl==3.1.0+computecanada
tinycss2==1.2.1+computecanada
tomli @ file:///tmp/ebuser/avx2/Python/3.10.2/GCCcore-9.3.0/tomli/tomli-2.0.0
tornado==6.2+computecanada
traitlets==5.9.0+computecanada
typing_extensions==4.5.0+computecanada
urllib3==1.26.14+computecanada
virtualenv @ file:///tmp/ebuser/avx2/Python/3.10.2/GCCcore-9.3.0/virtualenv/virtualenv-20.13.0
wcwidth==0.2.6+computecanada
webencodings==0.5.1+computecanada
websocket_client==1.5.1+computecanada
Werkzeug==2.2.3+computecanada
widgetsnbextension==4.0.5+computecanada
wrapt==1.15.0+computecanada
zipp==3.14.0+computecanada
